body{
  background-color:#242f44;
  color: white;
  font-family: 'Oswald', sans-serif;
}

header{
  text-align: center;
}
h1{
  font-size: 36px;
  padding: 15px;
  color: #8c6b48;
  background-color: white;
}
